apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: monitoring
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          http: {}

    processors:
      transform/traefik:
        error_mode: ignore
        log_statements:
          - context: log
            statements:
              # This is the correct function-based syntax
              - set(body, ParseJSON(body)) where IsString(body) and matches(body, "^{.*}$")

              # These statements will now run correctly
              - set(attributes["http.method"], body["RequestMethod"]) where IsMap(body)
              - set(attributes["http.target"], body["RequestPath"]) where IsMap(body)
              - set(attributes["http.status_code"], Int(body["DownstreamStatus"])) where IsMap(body)
              - set(attributes["net.host.name"], body["RequestHost"]) where IsMap(body)
              - set(attributes["traefik.entrypoint"], body["entryPointName"]) where IsMap(body)
              - set(attributes["traefik.router"], body["RouterName"]) where IsMap(body)
              - set(attributes["traefik.service"], body["ServiceName"]) where IsMap(body)
              - set(attributes["duration.ns"], Int(body["Duration"])) where IsMap(body)

      batch:
        send_batch_size: 4096
        timeout: 5s

    exporters:
      otlphttp:
        endpoint: http://loki.monitoring.svc.cluster.local:3100/otlp
        headers:
          X-Scope-OrgID: fake-org

      debug:
        verbosity: detailed

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [transform/traefik, batch]
          exporters: [otlphttp, debug]