apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: monitoring
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318

    processors:
      transform/traefik:
        error_mode: ignore
        log_statements:
          - context: log
            statements:
              - merge_maps(log.cache, ParseJSON(log.body), "upsert") where IsString(log.body) and IsMatch(log.body, "^{.*}$")
              - set(log.attributes["http.method"], log.cache["RequestMethod"]) where log.cache["RequestMethod"] != nil
              - set(log.attributes["http.target"], log.cache["RequestPath"]) where log.cache["RequestPath"] != nil
              - set(log.attributes["http.status_code"], Int(log.cache["DownstreamStatus"])) where log.cache["DownstreamStatus"] != nil
              - set(log.attributes["net.host.name"], log.cache["RequestHost"]) where log.cache["RequestHost"] != nil
              - set(log.attributes["traefik.entrypoint"], log.cache["entryPointName"]) where log.cache["entryPointName"] != nil
              - set(log.attributes["traefik.router"], log.cache["RouterName"]) where log.cache["RouterName"] != nil
              - set(log.attributes["traefik.service"], log.cache["ServiceName"]) where log.cache["ServiceName"] != nil
              - set(log.attributes["duration.ns"], Int(log.cache["Duration"])) where log.cache["Duration"] != nil
              
              - set(log.attributes["client.host"], log.cache["ClientHost"]) where log.cache["ClientHost"] != nil
              - set(log.attributes["http.user_agent"], log.cache["UserAgent"]) where log.cache["UserAgent"] != nil
              - set(log.attributes["http.origin.status_code"], Int(log.cache["OriginStatus"])) where log.cache["OriginStatus"] != nil

      batch:
        send_batch_size: 4096
        timeout: 5s

    exporters:
      otlphttp:
        endpoint: http://loki.monitoring.svc.cluster.local:3100/otlp
        headers:
          X-Scope-OrgID: fake-org

      debug:
        verbosity: detailed

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [transform/traefik, batch]
          # REVERT TO THIS:
          exporters: [otlphttp, debug]