apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  loki.yaml: |
    server:
      http_listen_port: 3100

    distributor:
      otlp:
        enabled: true

    common:
      path_prefix: /var/loki
      storage:
        filesystem:
          chunks_directory: /var/loki/chunks
          rules_directory: /var/loki/rules
      replication_factor: 1
      ring:
        instance_addr: 127.0.0.1
        kvstore:
          store: inmemory

    schema_config:
      configs:
        - from: 2025-11-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config: {}

    limits_config:
      retention_period: 7d
      allow_structured_metadata: true

    compactor:
      working_directory: /var/loki/compactor
      compactor_ring:
        kvstore:
          store: inmemory