apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-init-script
  namespace: overleaf
data:
  # This mimics the mongodb-init-replica-set.js
  mongodb-init-replica-set.js: |
    rs.initiate({
      _id: "overleaf",
      members: [
        { _id: 0, host: "mongo.overleaf.svc.cluster.local:27017" }
      ]
    });
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sharelatex-config
  namespace: overleaf
data:
  OVERLEAF_APP_NAME: "Overleaf Community Edition"
  OVERLEAF_MONGO_URL: "mongodb://mongo.overleaf.svc.cluster.local:27017/sharelatex?replicaSet=overleaf"
  OVERLEAF_REDIS_HOST: "redis.overleaf.svc.cluster.local"
  REDIS_HOST: "redis.overleaf.svc.cluster.local"
  ENABLED_LINKED_FILE_TYPES: "project_file,project_output_file"
  ENABLE_CONVERSIONS: "true"
  EMAIL_CONFIRMATION_DISABLED: "true"
  SANDBOXED_COMPILES: "false"