apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mcp
resources:
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - redis.yaml   # uncomment if you included it
