apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argo

resources:
  - install.yaml
  - sa-admin.yaml
  - crb-admin.yaml

patchesStrategicMerge:
  - server-patch.yaml
  # - svc-nodeport-patch.yaml   # uncomment if you want NodePort
